/* .user-avatar {
    margin-right: 15px;
  }
  
  .card-content {
    padding: 16px;
  } */

  .header, .toolbar {
    --ion-box-shadow: none;
    box-shadow: none !important;
    border-bottom: none !important;
}

.info-card {
  background: #f3f3f3; /* dark background for the card */
  color: black;
  margin: 15px;
  border-radius: 10px;
}
  
  .card-text-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  /* --- for circular photo */
  .circle-image-container {
    width: 150px;       /* Circular container size */
    height: 150px;      /* Circular container size */
    border-radius: 50%; /* Circular shape */
    overflow: hidden;   /* Ensure the image stays within the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-image {
    width: 100%;
    height: 100%;   /* Fill the container completely */
    object-fit: cover; /* Ensure image covers the container without stretching */
    object-position: top; /* Keep the top of the image in view (focus on forehead) */
  }
  

  /* card arrow */
  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }                                                                         
  