.history-title {
  color: gray;
}

.total-to-pay {
  text-align: center;
  margin: 20px 0;
}

.total-to-pay h2 {
  font-size: 24px;
}

.total-to-pay p {
  margin: 0;
  color: lightgray;
}

.pay-card {
  background: #f3f3f3; /* dark background for the card */
  color: black;
  margin: 15px;
  border-radius: 10px;
}

.item-amount {
  font-size: 18px;
  font-weight: bold;
}

.item-left-to-pay {
  font-size: 20px;
  font-weight: bold;
  color: #6f0bbc; /* yellow color for the amount */
}
